# macOS
.DS_Store

# STM32CubeIDE / Eclipse metadata (optional: ignore these)
**/.project
**/.cproject
**/.settings/
**/*.launch
**/.mxproject
**/.osx.project

# Build output folders
**/Debug/
**/Release/

# Build artifacts
**/*.o
**/*.a
**/*.d
**/*.su
**/*.cyclo
**/*.lst
**/*.map
**/*.elf
**/*.hex
**/*.bin
**/objects.list
**/objects.mk
**/sources.mk
**/makefile
**/subdir.mk
